extends layout

block content
  include search
  h1 Books
  p
    a.button(href='/books') See All Books
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year

    tbody
      each bk in books
        tr
          td
            a(href=`/books/${bk.id}`) #{bk.title}
          td= bk.author 
          td= bk.genre 
          td= bk.year

    